<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Tasks</title>
    </head>
    <body>

        <h2>Tasks</h2>

        <!-- TODO: add the ability to list tasks -->
        <ul id="tasks">
        </ul>


        <form>
            <input type="text" name="name" id="name"/>
            <input type="button" onclick="addTask();" value="Add!"/>
        </form>

        <!-- the javascript has been embedded to the same site -->
        <script inline="javascript">
            // The URL to the application server that holds the tasks.
            var url = "/tasks";

            function loadTasks() {
                var taskRequest = new XMLHttpRequest();
                taskRequest.onreadystatechange = function() {
                    if (taskRequest.readyState == 4 && taskRequest.status == 200) {
                        var response = JSON.parse(taskRequest.responseText);
                        for (element of response.tasks){ 
                            console.log(element.name);
                            var UList = document.getElementById("tasks");
                            var LLIst = document.createElement("li");
                            LLIst.appendChild(document.createTextNode(element.name));
                            UList.appendChild(LLIst);
                        }
                    }
                }
                taskRequest.open("GET", url, true);
                taskRequest.send(null);
            }
		</script>

        <script inline="javascript">
            function addTask() {
                var name = document.querySelector("#name").value;
                if (!name) {
                    return;
                }

                console.log(name);

                var http = new XMLHttpRequest();

				// We are not using any CSRF protection(!) this should not be done in production
                http.open("POST", 'add', true);
                http.setRequestHeader("Content-type", "application/json");
                var data = new Object();
                data.name = name;

                http.onreadystatechange = function () {
                    if (http.readyState === 4) {
                        if (http.status === 200) {
                            addTaskToList(JSON.parse(http.responseText));
                        }
                    }
                }

                http.send(JSON.stringify(data));
            }


            function addTaskToList(task) {
                var liElement = document.createElement("li");
                liElement.appendChild(document.createTextNode(task.name));
                document.querySelector("#tasks").appendChild(liElement);
            }


            window.onload = function () {
                loadTasks();
            };
        </script>
    </body>
</html>
